{% extends 'event/event_list.html' %}
{% load thumbnail event_tags expert_tags %}

{% block event_list %}

    {% show_expert_comment category 2 %}
{% for day in event_list %}

    {#    Expert comment for week where week=2#}

    {#End expert comment#}

    <p class="event_date"><span>{{ day.date|date:"l, j F Y"|lower }}</span></p>

    {% regroup day.events by category as categories %}
    {% for category in categories %}

        <h3>{{ category.grouper }} {{ CITY.genitive }}</h3>
        {% for event in category.list %}
        {{ event.event }}

            {% thumbnail event.image 128x84 crop as im %}
            <div class="event_list__item clearfix">
                <div class="thumb shadowed">
                    <a title="{{ event.title }} - {{ seo.heading.value }}" href="{{ event.get_absolute_url }}">
                        {% if im %}<img alt="{{ event.title }}" src="{{ im }}" />{% else %}<span class="no_photo"></span>{% endif %}
                    </a>
                    <img src="/static/i/shadow.png" alt="" class="shadow" />
                </div>
                <div class="event__title">
                    <a title="{{ event.title }} - {{ seo.heading.value }}" href="{{ event.get_absolute_url }}">
                        {{ event.title }}
                    </a>
                </div>
               {% shedule_for_event event day.date %} 
            </div>

        {% endfor %}
    {% endfor %}
{% endfor %}

{% endblock %}

{% block sidebar-current %}
    {% if category %}
        {% if category.pk == 14 %}
            {% include "widgets/buy_tickets.html" %}
        {% endif %}
        
        {% top_events category 5 %}
        {% today_events category 5 %}
        {% soon_events category 5 %}
    {% endif %}
{% endblock %}

{% block widget-afisha %}{% endblock %}
