{% extends "index.html" %}
{% block h1 %}
Восстановление пароля
{% endblock %}
{% block content %}

<form action="." method="POST" enctype="multipart/form-data" class="form form_horizontal box">
<p>На указанный вами адрес будет отправлено письмо с инструкцией по восстановлению пароля.</p>
<dl class="form__row input_text"><dt class="label">{{ form.email.label_tag }}</label></dt><dd class="field">{{ form.email }}{{ form.email.errors }}</dd></dl>
{% csrf_token %}
<dl class="form__row submit"><dd class="field"><span class="btn btn_theme_blue"><span class="btn__text">Отправить</span><input type="submit" class="btn__input" value="Отправить" /></span></dd></dl>
</form>
{% endblock %}
