{% extends "newsletter/common.html" %}
{% load i18n %}
{% block title %}{% trans "Newsletter subscribe" %}{% endblock title %}
{% block body %}
<h1>{% trans "Newsletter subscribe" %} {{ newsletter.title }}</h1>
{% if error %}
<p>Технические неполадки не позволили подтвердить ваш E-mail. Также это может быть связано с тем, что ваш E-mail не верен.</p>
{% else %}
{% if form.is_valid %}
<p>Ваш запрос на подписку был успешно получен. На ваш E-mail был выслан код активации. В письме Вы найдете ссылку, по которой вы можете пройти, чтобы активировать подписку.</p>
{% else %}
<form enctype="multipart/form-data" method="post" action=".">
    {% csrf_token %}
    {{ form.as_p }}
    <p><input id="id_submit" name="submit" value="Подписаться" type="submit" /></p>
</form>
{% endif %}
{% endif %}
{% endblock body %}

