{% extends "newsletter/common.html" %}
{% load i18n %}
{% block title %}{% trans "Newsletter subscribe" %}{% endblock title %}
{% block body %}
<h1>{% trans "Newsletter subscribe" %} {{ newsletter.title }}</h1>

<p>Привет, {{ user }}!</p>

{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% else %}
Вы хотите подписаться на рассылку нашего сайта?
<form enctype="multipart/form-data" method="post" action="{% url newsletter_subscribe_confirm %}">
    {% csrf_token %}
    <p><input id="id_submit" name="submit" value="Подписаться" type="submit" /></p>
</form>
{% endif %}

{% endblock body %}

