<header>
	<a href="/" class="logo"><img src="{{ STATIC_URL }}i/logo-m.png" alt="Заотдых" ></a>
	<span class="city">Омск</span>
	<form action="" class="search search_pos_top" method="get">
		<div class="form-input">
			<input type="text" class="form-input__input search__input" name="q">
			<button type="submit" class="btn search__submit">
				<i class="icon icon-search"></i>
			</button>
			<button type="reset" class="btn search__close">
				<i class="icon icon-close"></i>
			</button>
		</div>
	</form>
</header>