{% extends "control/index.html" %}

{% load thumbnail i18n assets event_tags control_tags %}

{% block pathway %}
    <div class="pathway">
        <a title="Панель управления" href="/control">Панель управления</a> /
        <a title="Конкурсы" href="{% url control.views.action_list %}">Список конкурсов</a> /
        <a title="Конкурсы" href="{% url control_action_edit action.pk %}">Конкурс &laquo;{{ action.title }}&raquo;</a>
    </div>
{% endblock %}
{% block content-header %}
    {% if winner %}<h1>Редактирование победителя «{{ winner }}»</h1>{% else %}<h1>Создание нового победитиля для конкурса</h1>{% endif %}
{% endblock %}
{% block content %}
    <form action="." method="POST" enctype="multipart/form-data" class="form form_place_edit zf">
        {% csrf_token %}
        <div class="tabbed">
            <div class="control_toolbar">
                <div class="toolbar__buttons">
            <span class="btn_wrapper">
                <ins class="l"></ins>
                <ins class="r"></ins>
                <input type="submit" class="btn" value="Сохранить" />
            </span>
                </div>
                <ul class="tabs tabs_type_skewed">
                    <li class="tabs-item tabs-item_state_current" data-tabname="general"><span class="pseudo-link">Общее</span></li>
                </ul>
            </div>
            <div class="pane pane_state_visible">
                <!--ОБЩЕЕ-->
                <table class="form_vertical">
                    {% for field in form %}
                        <tr>
                            <td class="form_row"><h4>{{ field.label_tag }}</h4>{{ field }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="submit">
        <span class="btn_wrapper">
            <ins class="l"></ins>
            <ins class="r"></ins>
            <div style="display:none;">{{ form.pub_date }}</div>
            <input type="submit" class="btn" value="Сохранить" />
        </span>
            </div>
        </div>
    </form>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}elfinder/css/elfinder.css" type="text/css" media="screen" charset="utf-8">
    <link href="{{ STATIC_URL }}elrte/css/django-elrte.css" type="text/css" media="all" rel="stylesheet">
    <link href="{{ STATIC_URL }}elrte/css/elrte.full.css" type="text/css" media="all" rel="stylesheet">
{% endblock %}

{% block scripts %}

    {% assets  "js_ui" %}
        <script type="text/javascript" language="javascript" src="{{ ASSET_URL }}">
        </script>
    {% endassets %}

    {% assets  "control_js" %}
        <script type="text/javascript" language="javascript" src="{{ ASSET_URL }}">
        </script>
    {% endassets %}

    <script type="text/javascript">

        $(function(){

            // datepicker
            $.datepicker.setDefaults(
                    $.extend($.datepicker.regional["ru"])
            );
            $(".input_date input").datepicker({
                showOn: "button",
                buttonImageOnly: true,
                buttonImage: "{{ STATIC_URL}}admin/img/admin/icon_calendar.gif",
                dateFormat: "yy-mm-dd",
            });

            $(".promo__tab").removeClass("visible");
        });

    </script>
{% endblock %}
