{% extends "control/index.html" %}
{% load thumbnail i18n assets control_tags comments%}

{% block content-header %}
    <h1>Панель управления, смотрим на пост "<i>{{ post }}</i>"</h1>
    <a href="{% url control_blog_edit post.pk %}">Редактировать</a><br />
{% endblock %}

{% block pathway %}
    <div class="pathway">
        <a title="Панель управления" href="/control">Панель управления</a> /
        <a title="Блог" href="{% url control_blog_list %}">Блог</a> /
    </div>
{% endblock %}

{% block content %}
    <h1 class="article">{{ post.title }}</h1>
    <p class="meta">{{ post.pub_date|date:"d F Y"|lower }}</p>
    <p>{{ post.full_text|safe }}</p>

    {% with post.tags.all as tags %}
        {% include "tagging/_tag_block.html" %}
    {% endwith %}
    <p align="right"><strong>{{ post.author }}</strong></p>
    <div class="clr"></div>
    <div id="comments" class="comments">
        {% if user.is_authenticated %}
            <div class="comments__post clearfix comment_form">
                <span class="pseudo_link post__button open_form">Позвольте, я скажу!</span>
                <div class="post__form form" style="display: none">{% render_comment_form for post %}</div>
            </div>
        {% else %}
            {% include "comments/_no_access.html" %}
        {% endif %}
        {% render_comment_list for post %}
    </div>
{% endblock %}
