{% extends "control/index.html" %}
{% load rating_tags event_tags control_tags core_tags %}
{% block pathway %}
    <div class="pathway">
        <a title="Панель управления" href="/control">Панель управления</a> /
    </div>
{% endblock %}
{% block content %}
<h1>Список событий</h1>
<div class="cpanel__toolbar clearfix">
    <div class="filter">
        <form action="." method="GET">
            Фильтр: <span class="field"><input type="text" name="q" value="{{ q }}" /></span> <input type="submit" class="btn" value="Отсеять" />
        </form>
    </div>
    <div class="buttons"><a href="{% url control.views.event_form  %}" class="btn">Новое событие</a></div>
</div>
<table cellpadding="0" cellspacing="0" class="component__items_list">
    <thead>
        <tr>
            <th class="chkbox"><input type="checkbox" value="" name="" /></th>
            <!--<th>Порядок</th>-->
            <th>Название</th>
            <th>Категория</th>
            <th>Где/Когда</th>
            <th>Рейтинг</th>
        </tr>
    </thead>
    <tbody>
        {% for event in events.object_list %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td class="chkbox"><input type="checkbox" value="" name="" /></td>
                <td><a href="{% url control.views.event_form event.pk %}">{{ event }}</a></td>
                <td>{{ event.category }}</td>
                <td>
                  {% for period in event.periods.all %}
                  <strong>{{ period.place }}</strong>: {{ period.start_date }}
                  в {% for t in period.start_times %}{{ t|time:"H:i" }}, {% endfor %}<br/>
                  {% endfor %}
                </td>
                <td></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{{ events|render_paginator:seo }}
{% endblock %}
