{% extends "control/index.html" %}
{% load control_tags core_tags %}
{% block pathway %}
    <div class="pathway">
        <a title="Панель управления" href="/control">Панель управления</a> /
    </div>
{% endblock %}
{% block content %}
<h1>Список заведений</h1>
<div class="cpanel__toolbar clearfix">
    <div class="filter">
        <form action="." method="GET">
            Фильтр: <span class="field"><input type="text" name="q" value="{{ q }}" /></span> <input type="submit" class="btn" value="Найти" />
        </form>
    </div>
    <div class="buttons">

        <span class="btn_wrapper"><ins class="l"></ins><ins class="r"></ins><a href="{% url control.views.place_form  %}" class="btn">Новое заведение</a></span>
    </div>
</div>
<table cellpadding="0" cellspacing="0" class="component__items_list">
    <thead>
        <tr>
            <th class="chkbox"><input type="checkbox" value="" name="" /></th>
            <!--<th>Порядок</th>-->
            <th>Название</th>
            <th>Новое</th>
            <th>Выбор ОтдохниОмск.ру</th>
            <th>Опубликовано</th>
            <th>Промо-страница</th>
        </tr>
    </thead>
    <tbody>
        {% for place in places.object_list %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td class="chkbox"><input type="checkbox" value="" name="" /></td>
                <!--<td class="order_num"><input type="text" value="{{ place.ordering }}" name="" size="2" /></td>-->
                <td class="title"><a href="{% url control.views.place_form place.pk %}">{{ place }}</a></td>
                <td>{% if is_new %}Да{% else %}Нет{% endif %}</td>
                <td>{% if expert_choice %}Да{% else %}Нет{% endif %}</td>
                <td>{% if place.is_published %}<span class="pseudo_link">Да</span></>{% else %}<span class="pseudo_link">Нет</span>{% endif %}</td>
                <td>{% if place.promo_is_up %}<nobr>c {{ place.date_promo_up|date:"d.m.Y" }} </nobr> <nobr>по {{ place.date_promo_down|date:"d.m.Y" }}</nobr>{% else %}Выключена{% endif %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{{ places|render_paginator:seo }}
{% endblock %}
