.nominies_view_table {
    margin-left: -16px;
}

.nominies_view_table .nominies__item {
    display: inline-block;
    width: 272px;
    margin-left: 16px;
    vertical-align: top;
    margin-bottom: 2em;
}
.nominies__image img {
    margin: 0 0 1em;
    border-radius: 8px;
    box-shadow: 0 5px 15px #444;
}
.nominies__author {
    font-style: italic;
    margin-bottom: 0.25em;
    color: #666;
}
.like-button.ajax {
    background:url(../i/zoomloader.gif) no-repeat center left;
}
.current-votes {
    margin-top: 0.5em;
}
.nominies__likes {
    /*padding-top: 1em;*/
}

.actions-winners {

}

.actions-winners__item {
    float: left;
    position: relative;
    margin-top: 2em;
    width: 159px;
    height: 200px;
    line-height: 1.3;
    text-align: center;
}

.toggle-winner-info {
    text-decoration: none;
}

.actions-winners__item .winner__quote {
    display: none;
}

.actions-winners__item .date {
    margin-top: .5em;
    color: #7f7f7f;
    display: none;
}

.actions-winners__item .action-title {
    display: none;
}

.actions-winners__thumb {
    display: block;
    overflow: hidden;
    width: 120px;
    height: 120px;
    margin: 0 auto .5em;
    border-radius: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.winner-info {
    position: relative;
    top: -5px;
    z-index: 10;
    width: 100%;
    padding: 0;
    margin: 0;
    clear: both;
    background: #fff;
    box-shadow: 0 0 6px rgba(0,0,0,.25) inset;
}

.actions-winners__item.is-active:after,
.actions-winners__item.is-active:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 28px;
    height: 21px;
    overflow: hidden;
    margin-left: -14px;
    z-index: 15;
    background: url('../i/inner-arrow.png');
}

.winner-info__thumb {
    width: 240px;
    float: left;
    margin: 0 3em 2em 0;
    border: 5px solid #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.25);
}

.winner__name {
    font-weight: bold;
}

.winner-info__name {
    margin-top: 0;
}

.winner-info__content {
    overflow: hidden;
    padding: 2em;
}

.winner-info__quote {
    line-height: 1.5;
    margin-top: 2em;
}