.calendar__month {
    @include box-shadow(0 10px 25px -5px rgba(0,0,0,.4));
    @include transition(all .5s ease-in-out);
    @include opacity(0);
    @include backface-visibility(hidden);
    @include border-radius(0 0 2px 2px);

    position: absolute !important;
    top: 0;
    width: 190px;
    padding: 0 .5em 1em;
    background: #fff;
    z-index: 90;
    visibility: hidden;
}


.calendar__month_header {
    left: -20px;
    width: 187px;
}

.calendar_state_visible {
    @include opacity(1);

    top: 100%;
    visibility: visible;
}

.calendar__month_filter {
    right: 0;
}
.calendar__month_filter .month {
    font-size: 0.924em;
    width: 100%;
    position: relative;
    z-index: 1;
}
.calendar__month_filter .month th {
    font-weight: normal;
}

#calendar_bottom_panel {
    margin-top: 16px;
}
#calendar_days_name {
    padding: 5px 0 4px 1px;
    font-size: 1em;
    word-spacing: 0.25em;
    color: white;
    position: relative;
}

.calendar_day {

  &_name {
    display: inline-block;
    padding: .25em .25em .75em;
    width: 20px;
    text-align: center;
  }

  &:link,
  &:visited {
    @include box-sizing(border-box);
    font-size: 0.924em;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    padding: .25em;
    margin: .25em;
    text-align: center;
    width: 20px;

    color: $link-blue;

    &:hover {
      color: $link-hover;
    }
  }

  &.today {
    text-decoration:none !important;
    text-shadow:none;
    z-index:100;
    color: #fff;
    background: $link-blue;
    border-radius: 100%;

    &:hover {
      color: $brand-yellow;
    }
  }

  &.active__day {
    border-radius: 100%;
    box-shadow: 0 0 0 1px $brand-blue;
    text-decoration: none;
  }
}

#calendar_year {
    position: relative;
    top: 4px;
    left: 37px;
    display: inline-block;
}

span.active {
    display: inline-block;
    background-color: #ccc;
    text-shadow: 0 1px 0 white;
}
.weekend {
    color: red;
}
#calendar_week {
    float: right;
    position: relative;
    bottom: 7px;
    right: 7px;
}
#calendar_today {
    position: relative;
    bottom: 7px;
    left: 7px;
}
.today {
    color: red;
}

.header__calendar {
    float: left;
    position: relative;
    line-height: 1.2;
}
.calendar__week {
    font-size: 0.924em;
    word-spacing: -1px;
}
.calendar__week__day {
    display: inline-block; 
    width: 18px;
    height: 32px;
    text-align: center;
    text-decoration: none;
    text-transform: lowercase;
    position: relative;
    overflow: hidden;
    vertical-align: top;
    color: #fff;
}
.calendar__week__day:hover {
    text-decoration: none;
    color: $brand-yellow;
}

.calendar__week__day_today {
  &:link,
  &:visited {
    &,
    &:hover {
      @include box-shadow(0 3px 10px rgba(0,0,0,.25));
      color: #252525;
      text-decoration: none;
      border-radius: 2px;
      background: #fff;

      span {
        text-decoration: none;
      }
    }
  }
}
.calendar__week__day span {
  text-decoration: underline;
}

.calendar__week__day_weekend {
  &,
  &:hover {
    color: #ff5757;
  }
}

.calendar__week .arr {
  font-size: 1.25em;
  position: relative;
  top: -4px;
  line-height: 1;
  cursor: pointer;
  width: 12px;

  .pseudo_link {
      color: #fff;
  }

  &:hover {
    .pseudo_link {
      color: $brand-yellow;
    } 
  }
}

#week {
    font-size: .924em;
    position:absolute;
    top:22px;
    left:0;
    width:165px;
    padding: 0 5px;
    border-bottom: 1px solid #f5f7f8;
    border-top: 1px solid #587381;
    text-shadow: 0 1px 0 #526a77;
    word-spacing:0.25em;
    color:#fff;
    background: #6d8e9f;
}

#week span{display: inline-block; width: 17px; height: 17px; line-height: 17px; text-align: right;}

.current_month {
    font-size: 1.154em;
    display: block;
    padding: .5em 2em;
    color: #242424;
    line-height: 1.5;
    text-align: center;
}

.prev_month,
.next_month {
    position: absolute;
    top: 14px;
    display: block;
    width: 11px;
    height: 13px;
    overflow: hidden;
    cursor: pointer;
    background-image: url(../i/sprite.png);
}
.prev_month {
    left: 10px;
    background-position: -360px -150px;
}
.prev_month:hover {
    background-position: -360px -163px;
}
.next_month {
    right: 10px;
    background-position: -371px -150px;
}
.next_month:hover {
    background-position: -371px -163px;
}

#calendar a {border: none;}

.holidays  {border: 1px solid transparent; color: #ff5757 !important;  border-left: none; border-right: none;}
a.current_day {background: #918caf; border-bottom: 1px solid #fff !important; border-top: 1px solid #69657e !important; color: #fff !important; margin-top: -1px; padding:1px; text-decoration:none !important; text-shadow: 0 1px 0 #000;}
a.workday {border: 1px solid transparent; color: #242424 !important;  border-left: none; border-right: none;}
a.workday:hover, a.holidays:hover{border-left: none !important;  border-right: none !important; color:#ff5757 !important; text-decoration:none; text-shadow:0 1px 2px #000;}

.button_today, .button_week {position: absolute; bottom: 0.75em; font-size: .924em}
.button_today {left: 7px}
.button_week {right: 7px}

.calendar__close {
  display: block;
  position: absolute;
  top: 4px;
  right: 4px;
  cursor: pointer;

  i {
    display: block;
    width: 16px;
    height: 16px;
    overflow: hidden;
    background: url(../i/sprite.png) -16px 0 no-repeat scroll;
  }

  &:hover {
    i {
      background-position: -16px -16px;
    }
  }
}

#calendar_filter_base {
  td,
  th {
    text-align: center;
    width: 20px;
  }
}

#calendar_film_base {
    @include border-radius(0 0 5px 5px);
    @include box-shadow(0 5px 10px rgba(0, 0, 0, 0.5));

    position: absolute;
    display: none;
    text-shadow: 0 1px 0 #fff;
    padding: 14px 0 3px 0;
    background-color: #68B5FF;
    background: #e0eaef url(../i/calendar-bg.png) 0 100% repeat-x scroll;
}

.calendar__month_filter th {
  color: white;
  padding: .25em .25em .75em;
}

.calendar__month_filter td {
  padding: .25em;
}

.calendar__month_filter {
  :link,
  :visited {
    color: $link-blue;

    &:hover {
      color: $link-hover;
    }
  }
}

.calendar_film_block {
  display: inline;
  padding: 10px 15px 5px 15px;

  table {
    height: 160px;
    display: inline-block;
  }
}

#calendar_film_base th {
    padding: 2px;
}

.daynames-bg {
  position: absolute;
  background: $brand-blue;
  width: 100%;
  height: 25px;
  left: 0;
  top: 40px;
  z-index: 0;
  padding: 0 7px;
  margin-left: -7px;
  border-bottom: 1px solid shade($brand-blue, 50%);

  &:after,
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    width: 0;
    height: 0;
    overflow: hidden;
    border-style: none solid solid solid;
    border-width: 7px;
    border-color: transparent transparent transparent shade($brand-blue, 50%);
  }

  &:after {
    right: -7px;
  }

  &:before {
    left: -7px;
    border-color: transparent shade($brand-blue, 50%) transparent transparent ;
  }
}

