.comments {
	clear: both;
	margin: 0 0 2em;

	&__comment {
		clear: right;
		margin-bottom: 2em;
		padding: 0 0 0 80px;
		position: relative;

		.userpic {
			*display: inline;
			float: left;
			margin-left: -80px;
		}

		.author {
			margin-right: 1em;
		}

		.meta {
			margin-bottom: 3px;
		}
	}
}

.comment {

	&__date {
		color: #666;
		margin-right: 1.5em;
		white-space: nowrap;
	}

	&__anchor {
		color: #555;
		text-decoration: none;
	}

	&__thread {
		clear: left;
		padding: 1.5em 0 0 2em;
		position: relative;
	}

	&__reply {
		padding-top: 0.5em;
	}

	&__post {
		padding-bottom: 1.5em;

		h3 {
			float:left;
			margin-top: 0;
		}
	}

	&__ip,
	&__action {
	    font-size: .924em;
	    margin-left: 1.5em;
	}

	&__rating {
		color: #666;
		float: right;

		&__agree {
			color: green;
			padding:0 3px 0 0;
		}

		&__disagree {
			color: red;
			padding:0 3px 0 0;
		}

		&__current {
			margin: 0 3px 0 0;
			padding: 0.25em 0.5em;
			color: #fff;
			background: #999;
		}
	}

}

.thread__comment {clear: left; padding: 0;}



.post__button {display: block; float: right;}
.post__submit, .reply__submit {margin-right: 2em;}
.reply__form .form__row {margin-bottom: 0;}
.reply__button {
    margin-left: 1.5em;
 }

.post__form textarea,
.reply__form textarea {
	width: 100%;
}

.obj_comment_subscribe {clear: both; padding-bottom: 5px;}

.post__form {
	@include box-shadow(0 2px 4px rgba(0,0,0,.15));

	padding: 1em 1em .5em;
	margin-bottom: 2em;
	clear: both;
	background: #fff;
}

.commcount {
	@include border-radius(2px);
	@include inline-block;

	font-size: 0.847em;
	position: relative;
	min-width: 18px;
	padding: 1px 2px;
	line-height: normal;
	text-align: center;
	color: #fff;
	background: tint($brand-blue, 15%);

	i {
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -2px;
		border-right: 4px solid #fff;
		border-top: 4px solid tint($brand-blue, 15%);
	}

	a {
		color: #fff !important;
		text-decoration: none !important;
	}
}
