.grid {
	text-align: justify;
	line-height: 0;
}

.grid:after {
	content: '';
	display: inline-block;
	width: 100%;
	vertical-align: top;
	*display: inline;
	zoom: 1;
}

.grid__placeholder {
	display: inline-block
}

.grid__cell {
	display: inline-block;
	position: relative;
	*display: inline;
	text-align: left;
	vertical-align: top;
	line-height: 1.5;
	zoom: 1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.grid__cell_size_1-of-2,
.grid__cell_size_2-of-4 {
	width:48.7%;
}

.grid__cell_size_1-of-3 {
	width:31.6%;
}

.grid__cell_size_2-of-3 {
	width:65.8%;
}

.grid__cell_size_1-of-4 {
	width:23.305%;
}

.grid__cell_size_3-of-4  {
	width:74.345%;
}

.grid__cell_size_1-of-5 {
	width:17.92%;
}

.grid__cell_size_2-of-5 {
	width:38.44%;
}

.grid__cell_size_3-of-5 {
	width:58.96%;
}

.grid__cell_size_4-of-5 {
	width:79.48%;
}

.grid__cell_size_1-of-7 {
	width:12%;
}

.grid__cell_size_2-of-7 {
	width:26.6%;
}

.grid__cell_size_3-of-7 {
	width:41.2%;
}

.grid__cell_size_4-of-7 {
	width:55.8%;
}

.grid__cell_size_5-of-7 {
	width:70.4%;
}

.grid__cell_size_6-of-7 {
	width:85%;
}

@media all and (max-width: 1366px) {
	.grid__cell_size_1-of-4  {
		width: 31.6%;
	}
	.grid__cell_size_2-of-4  {
		width: 100%;
	}
}

@media all and (max-width: 1100px) {

	.grid__cell_size_1-of-4  {
		width: 48.7%;
	}
}

@media all and (max-width: 1000px) {
	.grid__cell_size_1-of-4  {
		width: 31.6%;
	}
}