// Colors

$bgcolor: #f2f2f2;
$font-color: #242424;
$gray: #7f7f7f;
$light-gray: #ccc;
$bg-blue: #5a529d;
$brand-blue: #5a529d;
$brand-red: #ec5d75;
$brand-yellow: #fff500;

$base-font-size : 14px;

$link-blue: #473f94;
$link-hover: #c50c09;
