<div id="buy_tickets_modal" class="reveal-modal tickets-modal">
	<h2 class="modal__title">Как купить билеты в кино</h2>
	<div class="tour">
		<div class="tour-steps">
			<div class="tour-steps__item">
				<p>Наверняка у каждого в жизни была неприятная ситуация: вы предвкушаете просмотр долгожданной премьеры, но билеты в кино заранее не купили. Беспокойство в пути, долгая очередь у кассы — и разочарование от того, что билетов уже просто не осталось и все планы придется менять... Теперь об этом можно забыть!</p>
				<p>Купить билет в кино онлайн отныне просто и удобно: больше никаких очередей, занятых любимых мест и испорченного настроения. Забронировать билеты в кино на удобное время и лучшие места и тут же выкупить их можно на сайте Заотдых!</p>
				<p>Заказ билетов в кинотеатр происходит с помощью специальной интуитивно понятной формы. Чтобы купить билет в кино с нашей помощью, достаточно выбрать в афише понравившийся фильм, сеанс, а также подходящие места. Оплатить билеты в кинотеатр можно с помощью банковской карты, мобильных платежей или сервиса Webmoney. Электронный билет в кинотеатр выглядит как цифровой код, который следует предъявить администратору или кассиру кинотеатра, чтобы получить настоящие, бумажные билеты на сеанс. Сделать это можно даже за считанные минуты до сеанса, не беспокоясь, что кто-то займет ваши места.</p>
			</div>
			<div class="tour-steps__item">
				<div class="tour__img" style="background-image: url('/media/uploads/news/2013/03/1shag.jpg');"></div>
				<h3 class="tour__caption"><b>Шаг 1.</b> Выберите нужный фильм и сеанс</h3>
			</div>
			<div class="tour-steps__item">
				<div class="tour__img" style="background-image: url('/media/uploads/news/2013/03/2shag.jpg');"></div>
				<h3 class="tour__caption"><b>Шаг 2.</b> Выберите понравившиеся места</h3>
			</div>
			<div class="tour-steps__item">
				<div class="tour__img" style="background-image: url('/media/uploads/news/2013/03/3shag.jpg');"></div>
				<h3 class="tour__caption"><b>Шаг 3.</b> Укажите способ оплаты (банковская карта, мобильный платёж или WebMoney)</h3>
			</div>
			<div class="tour-steps__item">
				<div class="tour__img" style="background-image: url('/media/uploads/news/2013/03/4shag.jpg');"></div>
				<h3 class="tour__caption"><b>Шаг 4.</b> Действуйте в соответствии с инструкциями в зависимости от выбранного способа оплаты</h3>
			</div>
			<div class="tour-steps__item">
				<div class="tour__img" style="background-image: url('/media/uploads/news/2013/03/shag5.jpg');"></div>
				<h3 class="tour__caption"><b>Шаг 5.</b> Цифровой код, который Вы получите по электронной почте или по sms, необходимо предъявить в кинотеатре кассиру или администратору</h3>
			</div>
			<div class="tour-steps__item">
				<p>Достаточно попровать один раз купить билеты в кино через Интернет, и вы поймете, насколько сильно это отличается от привычного способа покупки. Поделитесь новой возможностью с друзьями и наслаждайтесь любимыми фильмами на новом уровне комфорта.</p>
				<p>Билеты в кинотеатр онлайн — это быстро и удобно: сэкономьте время и обретите уверенность в собственных планах на вечер!</p>
				<p>Приятного просмотра!</p>
			</div>
		</div>
	</div>
	<span class="close-reveal-modal icon icon_close icon_close_thin popup__close"><i></i></span>
</div>