{% extends "control/index.html" %}
{% load core_tags i18n thumbnail %}
{% block pathway %}
    <div class="pathway">
        <a title="Панель управления" href="/control">Панель управления</a> /
    </div>
{% endblock %}
{% block content %}
    <h1>Обновления для заведений</h1>
    <div class="cpanel__toolbar clearfix">
        <div class="filter">
            <form action="." method="GET">
                Фильтр: <span class="field"><input type="text" name="q" value="{{ q }}" /></span> <input type="submit" class="btn" value="Отсеять" />
            </form>
        </div>
    </div>
    <table cellpadding="0" cellspacing="0" class="component__items_list">
        <thead>
        <tr>
            <th>Название</th>
        </tr>
        </thead>
        <tbody>
        {% for update in palce_update %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td><a href="{% url control_graber_place_update_form update.pk %}">{{ update }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}