<form action="" method="get">
  <div style="display: none;" class="popup" id="places-adv-search">
      <i class="popup-t"></i>
      <i class="popup-tl"></i>
      <i class="popup-tr"></i>
      <i class="popup-l"></i>
      <div class="popup-content">
      <div class="popup-close" id="close"></div>
      <div class="popup-body">
        <div class="cat-list">
            <ul>
                <li class="active"><span id="115">Рестораны</span></li>
                <li><span id="">Кафе</span></li>
                <li><span id="">Кофейни</span></li>
                <li><span id="">Кинотеатры</span></li>
                <li><span id="">Ночные клубы</span></li>
            </ul>
        </div>
        <div class="params">
            <ul id="filters">
                <li class="filter" id="tag-list">
                    <div class="filter-title">
                        <span id="tag-list-title">Что ищем?</span>
                    </div>
                    <div class="filter-content">
                        <ul>
                            <li id="" style="display: none;"><label><input type="checkbox" value="45" name="tag[45]">Hастольный футбол</label></li>
                            <li id="" style="display: list-item;"><label><input type="checkbox" value="" name="">Vip-зал</label></li>
                            <li id="" style="display: list-item;"><label><input type="checkbox" value="" name="">Wi-fi</label></li>
                            <li id="" style="display: none;"><label><input type="checkbox" value="" name="">Экскурсии по городу</label></li>
                            <li id="" style="display: none;"><label><input type="checkbox" value="" name="">Ювелирные изделия</label></li>
                        </ul>
                    </div>
                </li>
                <li class="filter" id="working-time">
                    <div class="filter-title">
                        <span class="pseudo_link" id="work-time-title">Время работы</span>
                    </div>
                    <div id="wt" class="filter-content hidden">
                        <span class="inputs">c&nbsp;&nbsp;<input type="text" disabled="" id="from-time" name="from-time" size="4" value="06:00">&nbsp;&nbsp;до&nbsp;&nbsp;<input type="text" disabled="" value="18:00" id="till-time" name="till-time" size="4">&nbsp;&nbsp;часов</span>
                        <span class="allday"><input type="checkbox" disabled="" value="1" name="allday" id="allday"><label for="allday">круглосуточно</label></span>
                        <div id="working-time-slider" class="slider">
                            <div style="position: absolute; top: 12px;" id="footext"></div>
                            <div class="track">
                                <div class="stroke h0"></div>
                                <div class="stroke h2"></div>
                                <div class="stroke h4"></div>
                                <div class="stroke h6"></div>
                                <div class="stroke h8"></div>
                                <div class="stroke h10"></div>
                                <div class="stroke h12"></div>
                                <div class="stroke h14"></div>
                                <div class="stroke h16"></div>
                                <div class="stroke h18"></div>
                                <div class="stroke h20"></div>
                                <div class="stroke h22"></div>
                                <div class="stroke h24"></div>
                                <div class="stroke-num hn0">00.00</div>
                                <div class="stroke-num hn4">4.00</div>
                                <div class="stroke-num hn8">8.00</div>
                                <div class="stroke-num hn12">12.00</div>
                                <div class="stroke-num hn16">16.00</div>
                                <div class="stroke-num hn20">20.00</div>
                                <div class="stroke-num hn24">24.00</div>
                                <div class="area"></div>
                                <div id="timeline" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header" style="left: 25.2%; width: 50.4%;"></div><a href="#" class="ui-slider-handle ui-state-default ui-corner-all" style="left: 25.2%;"></a><a href="#" class="ui-slider-handle ui-state-default ui-corner-all" style="left: 75.6%;"></a></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="filter" id="district">
                    <div class="filter-title">
                        <span id="district-title">Район города</span>
                    </div>
                    <div class="filter-content">
                        <ul>
                            <li><input type="checkbox" value="1" name="district[]" id="district-1"><label for="district-1">Кировский</label></li>
                            <li><input type="checkbox" value="2" name="district[]" id="district-2"><label for="district-2">Ленинский</label></li>
                            <li><input type="checkbox" value="3" name="district[]" id="district-3"><label for="district-3">Октябрьский</label></li>
                            <li><input type="checkbox" value="4" name="district[]" id="district-4"><label for="district-4">Советский</label></li>
                            <li><input type="checkbox" value="5" name="district[]" id="district-5"><label for="district-5">Центральный</label></li>
                            <li><input type="checkbox" value="6" name="district[]" id="district-6"><label for="district-6">Первомайский</label></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <p class="submit"><button id="save_thumb" class="btn">Подобрать</button></p>
        </div>
        <div class="clr"></div>
      </div>
    </div>
    <i class="popup-b"></i>
    <i class="popup-bl"></i>
    <i class="popup-br"></i>
    <i class="popup-r"></i>
  </div>
</form>