{% extends "index.html" %}
{% block title %}Скидки с Заотдых.ру{% endblock %}
{% block h1 %}Скидки с Заотдых.ру{% endblock %}
{% block content %}
<div class="sales three-columns">
    <div class="column">
        <p>
            <a onclick="" target="_blank" href="">
                <img width="174" height="260" title="Серебряный слон" alt="Серебряный слон" src="/static/i/sales/slon.jpg">
            </a>
        </p>
    </div>
    <div class="column">
        <p>
            <a onclick="" target="_blank" href="">
                <img width="174" height="260" title="Серебряный слон" alt="Серебряный слон" src="/static/i/sales/slon.jpg">
            </a>
        </p>
    </div>
    <div class="column last">
        <p>
            <a onclick="" target="_blank" href="">
                <img width="174" height="260" title="Серебряный слон" alt="Серебряный слон" src="/static/i/sales/slon.jpg">
            </a>
        </p>
    </div>
    <div class="column">
        <p>
            <a onclick="" target="_blank" href="">
                <img width="174" height="260" title="Серебряный слон" alt="Серебряный слон" src="/static/i/sales/slon.jpg">
            </a>
        </p>
    </div>
    <div class="clr"></div>
</div>
<p class="count hits">Просмотров: 10867</p>
{% endblock %}

{% block yandex_direct %}
    {% include "widgets/yadirect.html" %}
{% endblock %}