{% extends "index.html" %}
{% block title %}Чай со звездой{% endblock %}
{% block h1 %}Чай со звездой{% endblock %}
{% block content %}
    <h3><strong>Несколько жизней Максима Кальсина</strong><br></h3>
    <p>Биография театрального режиссера Максима Кальсина, на счету которого теперь и последняя премьера в омском Пятом театре</p>
    <div style="text-align: center;"><a href="" rel="lightbox"><img width="300" height="200" title="kalsin2_small" alt="kalsin2_small" src=""></a></div>
    <p>
    В кофейню «Серебряный слон» Максим приехал в перерыве между двумя репетициями &ndash; шла последняя неделя подготовки спектакля «Географ глобус пропил», премьера режиссерской версии которого состоялась через несколько дней после этой беседы.
    </p>
    <p align="right" class="author"><strong>Анна Атягина</strong></p>
    <p class="slon"><a target="_blank" href="/places/1156/">
        <img width="200" height="131" title="slon_full" alt="slon_full" src="/static/i/slon_full.jpg"></a>
    </p>
    <h3><strong>Также беседовали за чаем:</strong></h3>
    <div class="stars three-columns clearfix">
    <div class="column">
        <div class="thumb">
            <a title="" rel="lightbox" href="">
                <img width="176" height="118" title="lav_4_tnn" alt="lav_4_tnn" src="/static/i/stories/lav_4_tnn.jpg">
            </a>
        </div>
        <p><a target="_blank" href="">Группа LAV </a></p>
    </div>
    <div class="column">
        <div class="thumb">    
            <a title="" rel="lightbox" href="">
                <img width="176" height="118" title="lav_4_tnn" alt="lav_4_tnn" src="/static/i/stories/lav_4_tnn.jpg">
            </a>
        </div>
        <p><a target="_blank" href="">Группа LAV </a></p>
    </div>
   <div class="column last">
        <div class="thumb">
            <a title="" rel="lightbox" href="">
                <img width="176" height="118" title="lav_4_tnn" alt="lav_4_tnn" src="/static/i/stories/lav_4_tnn.jpg">
            </a>
        </div>
        <p><a target="_blank" href="">Группа LAV </a></p>
    </div>
    <div class="column">
        <div class="thumb">
            <a title="" rel="lightbox" href="">
                <img width="176" height="118" title="lav_4_tnn" alt="lav_4_tnn" src="/static/i/stories/lav_4_tnn.jpg">
            </a>
        </div>
        <p><a target="_blank" href="">Группа LAV </a></p>
    </div>
    <div class="column">
        <div class="thumb">
            <a title="" rel="lightbox" href="">
                <img width="176" height="118" title="lav_4_tnn" alt="lav_4_tnn" src="/static/i/stories/lav_4_tnn.jpg">
            </a>
        </div>
        <p><a target="_blank" href="">Группа LAV </a></p>
    </div>
    </div>
    <p class="count hits">Просмотров: 79</p>
{% endblock %}