{% extends "messages/base.html" %}
{% load i18n %}
{% block pathway %}
<div class="pathway">
    <a href="{% url profile_show user.pk %}">Профиль</a> / <a href="{% url messages_inbox %}">Сообщения</a> /
</div>
{% endblock %}

{% block content-header %}
<h1>Новое сообщение</h1>
{% endblock %}

{% block content-inner %}
<div class="messages__compose">
	<form class="form zf" method="post" name="login" action="">{% csrf_token %}
	    {{ form.as_dl }}
	    <dl><dd class="submit">
	           <span class="btn btn_theme_blue">
					<span class="btn__text">{% trans "Send" %}</span>
	               <input class="btn__input" type="submit" value="{% trans "Send" %}" />
	           </span>
	        </dd>
	    </dl>
	    <input class="btn" type="hidden" name="next" value="{{ next }}" />
	</form>
</div>

{% endblock %}
