<div class="weather">
	<div class="weather__icon">
        {% if icon %}
            <img width="48" height="48" alt="" src="/static/i/weather/{{ icon }}.png">
        {% endif %}
    </div>
	<div class="wolf wolf_{{ suffix_tmp }}
				{% if suffix_icon %}_{{ suffix_icon }}{% endif %} 
				{% if suffix_special %}wolf_{{suffix_special}}{% endif %}"
				{% if cur_wolf %} style="background-image: url('{{ cur_wolf.picture.url }}')"{% endif %}>
	</div>
    <div class="weather__temp">
        <span class="current">{{ tmp }}°</span>
        <span class="night">ночью {{ low }}°</span>
        <span class="tomorrow">завтра {{ hi }}°</span>
    </div>
    {% comment %}
    <div class="sp wolf__slide {% if not active %}activeslide{% endif %}">AdRiver code START. Type:120x90 Site: Отдохни PZ: 1 BN: 2
	    <script language="javascript" type="text/javascript">var RndNum4NoCash = Math.round(Math.random() * 1000000000);
	    var ar_Tail='unknown'; if (document.referrer) ar_Tail = escape(document.referrer);
	    document.write(
	            '<iframe src="http://ad.adriver.ru/cgi-bin/erle.cgi?'
	                    + 'sid=176071&bn=2&target=top&w=110&h=75&bt=25&pz=1&rnd=' + RndNum4NoCash + '&tail256=' + ar_Tail
	                    + '" frameborder=0 vspace=0 hspace=0 width=110 height=75 marginwidth=0'
	                    + ' marginheight=0 scrolling=no></iframe>');
	    //</script>
	    <noscript>
	        <a href="http://ad.adriver.ru/cgi-bin/click.cgi?sid=176071&bn=2&bt=25&pz=1&rnd=68857856" target=_top>
	            <img src="http://ad.adriver.ru/cgi-bin/rle.cgi?sid=176071&bn=2&bt=25&pz=1&rnd=68857856" alt="-AdRiver-" border=0 width=110 height=75></a>
	    </noscript>
	    AdRiver code END
	</div>
	{% endcomment %}
</div>
